.week-container {
    display: flex;
}

.week-container .day-container {
    border: 1px solid rgba(0,0,0,0.14);
    flex: 1;
    height: 128px;
    padding: 8px;
    position: relative;
}

.week-container .day-container md-chip {
    max-width: 200px;
}

.week-container .day-container .mat-chip:not(.mat-basic-chip) {
    padding: 2px 12px 2px 12px;
}

.week-container .day-container .more-area {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.week-container .day-container .more-area .mat-mini-fab .mat-icon, .mat-mini-fab i {
    line-height: 14px;
}

.week-container .day-container .more-area .mat-mini-fab {
    width: 30px;
    height: 30px;
}