.header-container {
    white-space: nowrap;
    background: white;
    padding: 16px 24px;
}

.header-container .title-area {
    display: inline-block;
    white-space: nowrap;
    width: 50%;
    font-size: 20px;
}

.header-container .toolbox-area {
    display: inline-block;
    white-space: nowrap;
    width: 50%;
    font-size: 24px;
    color: rgba(0,0,0,0.54);
    text-align: right;
}

.header-container .toolbox-area .mat-button {
    min-width: 0px;
}

.mat-cell.small-col, 
.mat-header-cell.small-col{
    flex:0;
    padding: 0 16px;
    white-space: nowrap;
}

.mat-cell.small-col .mat-button, 
.mat-cell.small-col .mat-fab, 
.mat-cell.small-col .mat-icon-button, 
.mat-cell.small-col .mat-mini-fab, 
.mat-cell.small-col .mat-raised-button {
    min-width: 1px;
}

.mat-cell.small-col .mat-icon {
    color: rgba(0,0,0,0.54);
}

.mat-header-cell.small-col .controls-header {
    width: 128px;
}