<mat-card>
    <mat-card-header class="header-container">
        <mat-card-title class="title-area"><h1>Room list</h1></mat-card-title>
        <div class="toolbox-area">
            <button type="button" *ngIf="isAdmin()" mat-button (click)="addRoom()">
                <mat-icon>add</mat-icon>
            </button>
            <button type="button" *ngIf="isAdmin()" mat-button (click)="deleteRooms()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content class="table-container">
        <table mat-table #table [dataSource]="listSource" class="mat-elevation-z1">

            <ng-container cdkColumnDef="selection">
                <th mat-header-cell *cdkHeaderCellDef class="small-col" > <mat-checkbox></mat-checkbox> </th>
                <td mat-cell *cdkCellDef="let row" class="small-col" (click)="selectRow(row)"> <mat-checkbox></mat-checkbox> </td>
            </ng-container>

            <ng-container cdkColumnDef="name">
                <th mat-header-cell *cdkHeaderCellDef class="standard-col"> Nom </th>
                <td mat-cell *cdkCellDef="let row" class="standard-col"> {{row.name}} </td>
            </ng-container>

            <ng-container cdkColumnDef="capacity">
                <th mat-header-cell *cdkHeaderCellDef class="standard-col"> Capacité </th>
                <td *cdkCellDef="let row" class="standard-col"> {{row.capacity}} </td>
            </ng-container>

            <ng-container cdkColumnDef="description">
                <th mat-header-cell *cdkHeaderCellDef class="standard-col"> Description </th>
                <td *cdkCellDef="let row" class="standard-col"> {{row.description}} </td>
            </ng-container>

            <ng-container cdkColumnDef="controls">
                <th mat-header-cell *cdkHeaderCellDef class="controls-col" > <div class="controls-header"></div> </th>
                <td mat-cell *cdkCellDef="let row" class="controls-col"> 
                    <button type="button" *ngIf="!isAdmin()" mat-button (click)="displayRoom(row)">
                        <mat-icon>info</mat-icon>
                    </button>
                    <button type="button" *ngIf="isAdmin()" mat-button (click)="editRoom(row)">
                        <mat-icon >edit</mat-icon>
                    </button>
                    <button type="button" *ngIf="isAdmin()" mat-button (click)="deleteRoom(row)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *cdkHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *cdkRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></tr>
        </table>
    </mat-card-content>
</mat-card>