<div class="header-container">
    <div class="title-area">Reservation list</div>
    <div class="toolbox-area">
        <button type="button" md-button (click)="addReservation()">
            <md-icon>add</md-icon>
        </button>
        <button type="button" md-button (click)="cancelReservations()">
            <md-icon>event_cancel</md-icon>
        </button>
    </div>
</div>
<div class="table-container">
    <md-table #table [dataSource]="listSource" mdSort>

        <ng-container cdkColumnDef="roomName">
            <md-header-cell *cdkHeaderCellDef md-sort-header> Salle </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.roomName}} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="authorName">
            <md-header-cell *cdkHeaderCellDef md-sort-header> Auteur </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.authorName}} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="beginDate">
            <md-header-cell *cdkHeaderCellDef md-sort-header> Début </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.beginDate}} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="endDate">
            <md-header-cell *cdkHeaderCellDef md-sort-header> Fin </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.endDate}} </md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;" (click)="displayRoom(row)"></md-row>
    </md-table>
</div>