<md-sidenav-container class="navigation-container">
    <md-sidenav #sidenav class="menu-sidenav">
        <app-menu [sidenav]="sidenav"></app-menu>
    </md-sidenav>
    
    <div class="sidenav-content">
        <md-toolbar color="primary">
            <button type="button" md-button (click)="sidenav.open()">
          <md-icon class="toolbar-icon">menu</md-icon>
        </button>
            <span>Room Reservation</span>
            <span class="spacer"></span>
            <md-icon class="toolbar-icon">notifications</md-icon>
            <md-icon class="toolbar-icon">account_circle</md-icon>
        </md-toolbar>
        <div class="main-view">
            <router-outlet></router-outlet>
        </div>

    </div>

</md-sidenav-container>