<mat-toolbar color="primary" *ngIf="isUserConnected()">
	<mat-toolbar-row>
		<mat-icon (click)="sidenav.toggle();" class="toolbar-icon">menu</mat-icon>
		<span>ResaRoom</span>
		<span class="toolbar-spacer"></span>
		<mat-icon class="toolbar-icon">account_circle</mat-icon>
	</mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container >
	<mat-sidenav #sidenav mode="side">
		<app-menu [sidenav]="sidenav"></app-menu>	
	</mat-sidenav>

	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>