<div class="header-container">
    <div class="title-area">
        <button class="back-arrow" type="button" mat-button (click)="goBackToList()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        Reservation
    </div>
    <div class="toolbox-area">
        <button mat-button (click)="save()">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-button *ngIf="isNewReservation()" (click)="cancelCreation()">
            <mat-icon>cancel</mat-icon>
        </button>
        <button mat-button *ngIf="!isNewReservation()" (click)="cancelReservation()">
            <mat-icon>event_cancel</mat-icon>
        </button>
    </div>
</div>
<form class="form-container">
    <mat-form-field>
        <mat-select placeholder="Salle" [(ngModel)]="selectedRoom" name="room">
            <mat-option *ngFor="let room of rooms" [value]="room._id">
                {{room.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="datePicker" name="reservationDate" placeholder="Jour de la réservation">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
    <!-- begin hour -->
    <div>
        <mat-form-field>
            <mat-select placeholder="Heure(début)" [(ngModel)]="beginHour" name="beginHour">
                <mat-option *ngFor="let hour of hours" [value]="hour">
                    {{hour}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Minute(début)" [(ngModel)]="beginMinute" name="beginMinute">
                <mat-option *ngFor="let minute of minutes" [value]="minute">
                    {{minute}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!-- end hour -->
    <div>
        <mat-form-field>
            <mat-select placeholder="Heure(fin)" [(ngModel)]="endHour" name="endHour">
                <mat-option *ngFor="let hour of hours" [value]="hour">
                    {{hour}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Minute(fin)" [(ngModel)]="endMinute" name="endMinute">
                <mat-option *ngFor="let minute of minutes" [value]="minute">
                    {{minute}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>